<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="cart.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="cart-container">
      <div class="cart-items-container">
        <div class="cart-item-num upper-title">
          <h2>Cart (1)</h2>
        </div>
        <div class="cart-item-container">
          <div class="cart-item">
              <div class="item-piece-details">
                  <div class="item-piece">
                      <img src="https://rukminim1.flixcart.com/image/416/416/jtg44nk0/smart-band-tag/k/g/u/fb413bkwt-fitbit-original-imafeh2je3tthagd.jpeg?q=70" alt="">
                      <div class="quantity-selector">
                        <button class="quantity-btns">-</button>
                          <input class='quantity-input' type="text" value="1">
                        <button class="quantity-btns">-</button>

                        
                      </div>
                          <button class="remove-btn">Remove Item</button>
                  </div>
                  <div class="item-details">
                    <h4>Ajanta wrist watch</h4>
                    <p>white color strap</p>
                    <p>size : 4</p>
                    <p>Price block</p>
                  </div>

              </div>

              <div class="delivery-address-details">
                  <h3>your selected Adrees is : </h3>
                  <br>
                  <p>Addrss goes </p>
                  <p>here</p>
                  <br>
                 
                  <button>Change Address</button>

                </div>
                    
          </div>
      
          <!-- second cart items from here -->
           <div class="cart-item">
         
              <div class="item-piece-details">
                  <div class="item-piece">
                      <img src="https://rukminim1.flixcart.com/image/416/416/jtg44nk0/smart-band-tag/k/g/u/fb413bkwt-fitbit-original-imafeh2je3tthagd.jpeg?q=70" alt="">
                      <div class="quantity-selector">
                        <button class="quantity-btns">-</button>
                          <input class='quantity-input' type="text" value="1">
                        <button class="quantity-btns">-</button>
                          
                      </div>
                       <button class="remove-btn">Remove Item</button>

                  </div>
                  <div class="item-details">
                    <h4>Ajanta wrist watch</h4>
                    <p>white color strap</p>
                    <p>size : 4</p>
                    <p>Price block</p>
                  </div>

              </div>

               <div class="delivery-address-details">
                  <h3>your selected Adrees is : </h3>
                  <br>
                  <p>Addrss goes </p>
                  <p>here</p>
                  <br>
                 
                  <button>Change Address</button>

                </div>
          </div>
          <!-- secon item end -->

        </div>
        
      </div>
      <div class="cart-price-container">
        <div class="price-title upper-title">
          <h2>Price Details</h2>
        </div>
        <div class="details-container lower-title">
          <h3 class="detail-name">Price (1 item)</h3>

          <h3 class="exact-detail">7500</h3>
        </div>
        <div class="details-container lower-title">
          <h3 class="detail-name">saving</h3>

          <h3 class="exact-detail">2000</h3>
        </div>
        <div class="details-container lower-title">
          <h3 class="detail-name">Delivery Charge</h3>

          <h3 class="exact-detail">FREE</h3>
        </div>
        <div class="saving-detail upper-title">
          <p>You have saved Rs. 2500 and got a free delivery too :)</p>
        </div>
      </div>
    </div>
    <div class="checkout-button-container lower-title">
          <h2 class="checkout-price">Price 340</h2>
          <button class="checkout-button">CHECKOUT</button>
    </div>
  </body>
</html>
